<div class="body">

  <div class="login">
    <mat-card>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitForm()" style="margin-top: 10px; border-radius: 10px">
        <div class="form__header">
          <h2>Bienvenido!</h2>
          <p>Entre a su Cuenta</p>
        </div>
        <br>

        <mat-form-field appearance="outline" class="ancho">
          <mat-label>Usuario</mat-label>
          <input matInput placeholder="Ej. jperez" autocomplete="off" formControlName="username" />
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="ancho">
          <mat-label>Contraseña</mat-label>
          <input matInput placeholder="Ej. Password123*" autocomplete="off" type="password"
            formControlName="password" />
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>
        <br />
        <button type="submit" class="ancho button" mat-raised-button mat-button color="primary"
          [disabled]="!loadingLogin$">
          Ingresar
        </button>

        <div class="form__footer">
          <p>
            No tiene una Cuenta?
            <a [routerLink]="'/auth/signup'"> ... Registrate!</a>
          </p>
        </div>
      </form>
    </mat-card>
    <mat-progress-bar *ngIf="loadingLogin$ | async" mode="indeterminate"></mat-progress-bar>
  </div>
</div>
