<div class="form">
    <div class="form__header">
      <h2>Bienvenido!</h2>
      <p>Entre a su Cuenta</p>
    </div>
    <div class="form__body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitForm()">
        <div class="field">
          <label class="label" for="username">Correo</label>
          <div class="control">
            <input
              type="text"
              name="username"
              class="input"
              formControlName="username"
            />
          </div>
        </div>
        <div class="field">
          <label class="label" for="password">Contraseña</label>
          <div class="control">
            <input
              type="password"
              name="password"
              class="input"
              formControlName="password"
            />
          </div>
        </div>
  
        <ng-container *ngIf="loginError$ | async as errorMessage">
          <p class="error-form">{{ errorMessage }}</p>
        </ng-container>
  
        <button [disabled]="!loadingLogin$" type="submit" class="button is-success">
          <ng-container *ngIf="loadingLogin$ | async; else elseBlock">
            ...Cargando
          </ng-container>
          <ng-template #elseBlock>Acceder</ng-template>
        </button>
      </form>
    </div>
    <div class="form__footer">
      <p>
        No tiene una Cuenta?
        <a [routerLink]="'/auth/signup'">Registrarse!</a>
      </p>
    </div>
  </div>
